<div style="margin-top: 40px;">
    <div class="carousel">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/2/28/4534dba9-51db-45dd-acae-07033fc3b24d1646060784295-SS22-DesktopBanners-Unisex.jpg">
            </ng-template>
            <ng-template carouselSlide><img src="assets\images\MicrosoftTeams-image (29).png"></ng-template>
            <ng-template carouselSlide><img src="assets\images\MicrosoftTeams-image (30).png"></ng-template>
        </owl-carousel-o>
    </div>
</div>

<body>
  <div class="container">
    <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two">
    <div class="main-card">
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">
            <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/16045442/2021/11/27/ea3e4962-2755-4f1e-b694-d4bf7ce847a81637997857844-Anouk-Navy-Blue--Fuchsia-Woven-Design-Pure-Silk-Banarasi-Sar-1.jpg" alt="">
           </div>
           <div class="details">
             <div class="name">Women's clothing</div>
             
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
            <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/productimage/2021/3/9/521c8f15-50f1-4dfa-b348-7f5d792c4b311615283775465-1.jpg" alt="">
           </div>
           <div class="details">
             <div class="name">Fashion</div>
             
           </div>
         
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
            <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/10836686/2020/1/7/3dff2b03-9608-4a4e-8e83-bbcab3a4a3651578376835481-Jewels-Galaxy-Silver-Plated-Stone-Studded-Handcrafted-Adjust-1.jpg" alt="">
           </div>
           <div class="details">
             <div class="name">Jewellery</div>
             
           </div>
        
         </div>
        </div>
      </div>
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/11876016/2020/5/21/50895377-8f7b-4ec1-9b2b-89e493847a111590058973003HIGHLANDERMenNavyBlueWhiteSlimFitPrintedCasualShirt1.jpg" alt="">
             
           </div>
           <div class="details">
             <div class="name">Men's Clothing</div>
             
           </div>
    
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="https://img.freepik.com/free-photo/facial-powders-with-nail-polish-leaf-table_23-2148047035.jpg?w=740" alt="">
           </div>
           <div class="details">
             <div class="name">Beauty</div>
            
           </div>
           
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/10637112/2019/11/2/3952ef1b-9adb-415f-804a-5031db259e4f1572687815657-Marc-Loire-Women-Blue--Pink-Embroidered-One-Toe-Flats-424157-1.jpg" alt="">-
           </div>
           <div class="details">
             <div class="name">Footware</div>
             
           </div>
           
         </div>
        </div>
      </div>
    </div>
    <div class="button">
      <label for="one" class=" active one"></label>
      <label for="two" class="two"></label>
    </div>
  </div>
</body>


<div class="background">
  <h1 style="text-align: center;"><b >UNBELIEVABLE SALES</b></h1>
    <main class="grid">
        <article>
            <img src="https://img.freepik.com/free-photo/young-beautiful-stylish-woman-wedding-dress_285396-7849.jpg?w=360"
                alt="" class="image">
            <div class="text">
                <button class="shopmore-button" routerLink="/app-products" button type="submit">SHOP MORE</button>
            </div>
        </article>
        <article>
            <img src="https://th.bing.com/th/id/OIP.w-2IvOvCF9sEIYQrEeKvSAHaLH?w=203&h=304&c=7&r=0&o=5&dpr=1.5&pid=1.7"
                alt="" class="image">
            <div class="text">
                <button class="shopmore-button" routerLink="/app-products" button type="submit">SHOP MORE </button>
            </div>
        </article>
        <article>
            <img src="https://5.imimg.com/data5/AD/IA/NB/SELLER-93845430/stylish-flip-flop-rubber-500x500.JPG"
                class="image">
            <div class="text">
                <button class="shopmore-button" routerLink="/app-products" button type="submit">SHOP MORE </button>
            </div>
        </article>
        <article>
            <img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/15513938/2021/9/18/cdbfe708-f3af-4b08-9db7-0049803cc7431631947699877BibaWomenCream-ColouredRedFloralPrintedPleatedKurtawithChuri4.jpg"
                alt="" class="image">
            <div class="text">
                <button class="shopmore-button" routerLink="/app-products" button type="submit">SHOP MORE</button>
            </div>
        </article>
        <article>
            <img src="https://cdn.shopify.com/s/files/1/1057/7238/products/2_3d3df1b1-7a3c-44a8-be54-132cbc8ba7cc_1024x1024@2x.jpg?v=1571438793"
                alt="" class="image">
            <div class="text">
                <button class="shopmore-button" routerLink="/app-products" button type="submit">SHOP MORE </button>
            </div>
        </article>
        <article>
            <img src="https://th.bing.com/th/id/OIP.MZSzic_DQZTKdwvJjgWQ8gHaFk?w=252&h=191&c=7&r=0&o=5&pid=1.7" alt=""
                class="image">
            <div class="text">
                <button class="shopmore-button" routerLink="/app-products" button type="submit">SHOP MORE </button>
            </div>
        </article>
        <article>
            <img src="https://img.freepik.com/free-photo/young-woman-wearing-long-red-dress-white-background_1139-1192.jpg?size=338&ext=jpg&ga=GA1.2.2044681552.1646153315"
                alt="" class="image">
            <div class="text">
                <button class="shopmore-button" routerLink="/app-products" button type="submit">SHOP MORE</button>
            </div>
        </article>
        <article>
            <img src="https://m.media-amazon.com/images/I/51mjLMt9XOL._AC_UL480_FMwebp_QL65_.jpg"
                alt="" class="image">
            <div class="text">
                <button class="shopmore-button" routerLink="/app-products" button type="submit">SHOP MORE </button>
            </div>
        </article>
        <article>
            <img src="https://m.media-amazon.com/images/I/81SYkmrIELL._AC_UL480_FMwebp_QL65_.jpg "
                class="image">
            <div class="text">
                <button class="shopmore-button" routerLink="/app-products" button type="submit">SHOP MORE</button>
            </div>
        </article>
        <article>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrnR2iFzIgVxpnMF4FlRD9l3gTQ2AQwVHN1A&usqp=CAU"
                alt="" class="image">
            <div class="text">
                <button class="shopmore-button" routerLink="/app-products" button type="submit">SHOP MORE</button>
            </div>
        </article>
        <article>
            <img src="https://m.media-amazon.com/images/I/41hGm12VtmL._AC_UL480_FMwebp_QL65_.jpg "
                alt="" class="image">
            <div class="text">
                <button class="shopmore-button" routerLink="/app-products" button type="submit">SHOP MORE</button>
            </div>
        </article>
        <article>
            <img src="https://m.media-amazon.com/images/I/71ciCrCUKtL._AC_UL480_QL65_.jpg" alt=""
                class="image">
            <div class="text">
                <button class="shopmore-button" routerLink="/app-products" button type="submit">SHOP MORE </button>
            </div>
        </article>
    </main>
</div>